In [4]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from google.cloud import bigquery
from witwidget.notebook.visualization import WitWidget, WitConfigBuilder

In [5]:
query="""
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks
FROM
  publicdata.samples.natality
WHERE year > 2000
LIMIT 10000
"""
df = bigquery.Client().query(query).to_dataframe()
df.head()

   weight_pounds  is_male  mother_age  plurality  gestation_weeks
0       7.109908    False          25          1             38.0
1       7.588311    False          19          1             40.0
2       4.812691     True          35          1             33.0
3       7.251004     True          30          2             38.0
4       6.206013    False          21          1             36.0

In [6]:
df.describe()

       weight_pounds    mother_age     plurality  gestation_weeks
count    9994.000000  10000.000000  10000.000000      9873.000000
mean        7.267343     27.299200      1.035300        38.662919
std         1.345904      6.190841      0.197124         2.560298
min         0.595248     13.000000      1.000000        19.000000
25%         6.563162     22.000000      1.000000        38.000000
50%         7.373360     27.000000      1.000000        39.000000
75%         8.124034     32.000000      1.000000        40.000000
max        13.000660     54.000000      4.000000        47.000000

In [7]:
df['is_male'].value_counts()

True     5097
False    4903
Name: is_male, dtype: int64

In [8]:
df = df.dropna()
df = shuffle(df, random_state=2)

In [9]:
labels = df['weight_pounds']
data = df.drop(columns=['weight_pounds'])
data['is_male'] = data['is_male'].astype(int)